name: MLflow Training CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Setup Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # 3. Install Conda (MLflow Project butuh ini)
      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: 3.10
          activate-environment: base

      # 4. Install MLflow
      - name: Install MLflow
        shell: bash -l {0}
        run: |
          pip install mlflow

      # 5. Run training as MLflow Project (INI KUNCI KUNCI KUNCI)
      - name: Run training with MLflow Project
        shell: bash -l {0}
        run: |
          cd MLProject
          mlflow run .