name: train-model

on:
  push:
    branches: [main]
  pull_request:

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: false
          activate-environment: false
          auto-activate-base: false
          python-version: 3.10
          use-mamba: true

      - name: Install MLflow
        run: pip install mlflow

      - name: Run training with MLflow Project
        working-directory: MLProject
        run: mlflow run .